@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
    font-family: 'Poppins', 'Open Sans', 'Outfit', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
  }
  
  p {
    font-family: 'Open Sans', sans-serif !important;
  }
  
  .special-text {
    font-family: 'Outfit', sans-serif !important;
  }
  